<ion-view view-title="Suggestions">
 <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Your Location</div>
      <div class="item item-body">
        <div>
     
            <ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.markersEvents">
              <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" closeClick="hideMarkerPopup()" onClicked="showMarkerPopup()">
              </ui-gmap-marker>        
            </ui-gmap-google-map>
         

        </div>
      </div>
    </div>
    <div class="list card">
      <div ng-controller="SuggestionsCtrl">
        <div class="item item-divider">Suggestions</div>
        <div class="item item-body">
          <ion-item ng-repeat="sugg in suggestions">
            {{sugg}}
          </ion>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
