<ion-view view-title="Picknic">
<div class="bar bar-subheader">
  <h2 class="title">Recent Analysis</h2>
</div>
  <ion-content class="padding has-subheader">
    <h1 class ="report">You ate 324 calories.</h1>


      <div class="item item-divider item-positive">Status Update</div>
      <div class="item item-body item-stable">
        You're at 568/1800 for the day. 
    </div>
    <br>
      <div class="item item-divider item-positive">Your Snap</div>
      <div class="item item-body item-stable">
        <div>
          <canvas id="pie" class="chart chart-doughnut" data="graph.data" labels="graph.labels" height="200" chart-legend="true"></canvas>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

