<ion-view view-title="Logbook">
  <ion-content class="padding">

    <div class = "input">
      <div class="list list-inset" id="oldsnap">
          <input type="file">
      </div>
          <input type="submit" id="oldsubmit" class="button button-small icon-right button-light" value = "Add Snap">
    </div>
  
      <div class="item item-divider item-positive">Weekly Food Groups</div>
        <div class="item item-body item-stable">
          <div ng-controller="GroupGraphCtrl">
            <canvas id="pie" class="chart chart-doughnut" data="graph.data" labels="graph.labels" height="100" chart-legend="true"></canvas>
        </div>
      </div>
      <br>
      <div class="item item-divider item-positive">Weekly Calories</div>
        <div class="item item-body item-stable">
          <div ng-controller="GraphCtrl">
            <canvas id="line" class="chart chart-line" data="graph.data" labels="graph.labels" series='graph.series' height="100"></canvas>
        </div>
      </div>
      <br>
      <div class="item item-divider item-positive">Recent Eats</div>
      <div class="item item-body item-stable">
        <div>
          //timestamp //calorie count
        </div>
      </div>
      <div class="item item-body item-stable">
        <div>
          //timestamp //calorie count
        </div>
      </div>
      <div class="item item-body item-stable">
        <div>
          //timestamp //calorie count
        </div>
      </div>
      <div class="item item-body item-stable">
        <div>
          //timestamp //calorie count
        </div>
      </div>

  </ion-content>
</ion-view>
