<ion-view view-title="Picknic">
<div class="bar bar-subheader">
  <h2 class="title">Suggestions</h2>
</div>
 <ion-content class="padding has-subheader">

      <div class="item item-divider item-positive">Your Location</div>
      <div class="item item-body item-stable">
        <div>
     
         

        </div>
      </div>
      
      <br>

      <div class="item item-divider item-positive">Suggestions</div>
      <div class="item item-body item-stable">
        <div>
          //everyblock
        </div>
      </div>

  </ion-content>
</ion-view>
