<ion-view view-title="Camera">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Camera</div>
      <div class="item item-body">
        <div ng-controller="CamCtrl">
            <ion-option-button class="button-active" id="one" ng-click="takePicture(); show();">
              Take Picture
            </ion-option-button>
            <ion-option-button class="button-active" id="two" ng-click="moveToDataScreen();">
              Submit
            </ion-option-button>

            <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
            <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">

        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
