<ion-view view-title="Suggestions">
 <ion-content class="padding">

      <div class="item item-divider item-positive">Your Location</div>
      <div class="item item-body item-stable">
        <div>
     
            <ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.markersEvents">
              <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" closeClick="hideMarkerPopup()" onClicked="showMarkerPopup()">
              </ui-gmap-marker>        
            </ui-gmap-google-map>
         

        </div>
      </div>
      
      <br>

      <div class="item item-divider item-positive">Suggestions</div>
      <div class="item item-body item-stable">
        <div>
          //everyblock
        </div>
      </div>

  </ion-content>
</ion-view>
