<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-background-stable tabs-color-active-positive">

  <ion-tab title="Logbook" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Analysis" icon-off="ion-ios-analytics-outline" icon-on="ion-ios-analytics" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Suggestions" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/suggest">
    <ion-nav-view name="tab-suggest"></ion-nav-view>
  </ion-tab>
</ion-tabs>
