.angular-google-map-container { 
  height: 200px; 
}
.report {
	font-size: 30px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}
#oldsnap {
	width: 85px;
	display: inline-block;
	color: transparent;
	margin-top: -4px;
	overflow: hidden;
	margin-bottom: 8px;
}
#oldsubmit {
	width: 74.9%;
	display: inline-block;
	margin-bottom: -40px;
}