.angular-google-map-container { 
  height: 200px; 
}
.report {
	font-size: 30px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}
#oldsnap {
	width: 300px;
	color: transparent;
	margin-top: -4px;
	overflow: hidden;
	margin-bottom: 8px;
}
#oldsubmit {
	width: 50%;
	margin-bottom: -40px;
}

#button {
	text-decoration: none;
	width: 49%;
	height: 40px;
	background: #ff4d4d;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	color: white;
	font-family: helvetica;
	display: inline-block;
	float:left
	margin: 10px;


}
#hide {
	display: none;
}
#format {
	padding-left: -40px;
}